language: rust
rust:
  - stable
  - beta
  - nightly
cache: cargo
before_script:
  - (cargo install rustfmt || true)
matrix:
  allow_failures:
    - rust: nightly
script:
  - cargo fmt -- --write-mode=diff
  - cargo build
  - cargo test
